@font-face {
  font-family: "RetroGaming";
  src: local("RetroGaming"),
    url("../common/res/RetroGaming.ttf") format("truetype");
}
* {
  color: #5f4724;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ddd5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e8e1d5;
  width: 100%;
  height: 90px;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

h1 {
  font-family: "RetroGaming";
  padding: 15px;
  text-align: left;
}

em {
  font-family: "RetroGaming";
  font-style: normal;
  color: #75b3b6;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 0.2);
  width: 1280px;
  height: 720px;
}

#volume {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#volume-icon {
  font-size: 28px;
}

#volume-control {
  width: 100px;
  height: 8px;
}

section {
  position: absolute;
  top: 90px; /* Altura del header */
  left: 50%;
  width: 1280px;
  height: 720px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-50%);
  flex-direction: row; /* Asegura que las columnas estén una al lado de la otra */
}

section .left-column {
  width: 60%; /* Ajusta el ancho según sea necesario */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

section .right-column {
  width: 40%; /* Ajusta el ancho según sea necesario */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}

section h2 {
  margin: 0;
  margin-bottom: 20px;
}

#screenshot {
  width: 100%;
  height: 300px;
  background: #ccc; /* Color de fondo para la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.screenshot-placeholder {
  font-size: 20px;
  color: #666;
}

#game-description {
  margin-bottom: 20px;
}

#game-description p {
  margin: 0;
}

section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

section ul li {
  margin-bottom: 10px;
}

#ready-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}