@font-face {
  font-family: "RetroGaming";
  src: local("RetroGaming"),
    url("./common/res/RetroGaming.ttf") format("truetype");
}

* {
  color: #5f4724;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #ddd5d5;
  margin: 0;
  padding: 0% 15% 0% 15%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #e8e1d5;
  width: 100%;
  max-width: 1200px;
  height: 90px;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 0.2);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header a {
  text-decoration: none;
}

.hgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-family: "RetroGaming";
  padding: 15px;
  text-align: left;
}

em {
  font-family: "RetroGaming";
  font-style: normal;
  color: #75b3b6;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h3{
  font-size: 1.1em;
  margin-right: 40px;
}

main {
  background-color: #ededed;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section:first-of-type {
  height: 100%;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 0.2);

  gap: 10px;
}

section {
  background-color: #f6f6f6;
  height: 100%;
  width: 100%;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

ul {
  margin: 0px;
  list-style: none;
  padding: 0;
}

#gameList {
  display: flex;
  flex-direction: row;
  gap: 10px;

  overflow-x: auto;
  white-space: nowrap;
  scrollbar-color: #5f4724 #ededed; 
}

#gameList li {
  width: 130px;
  min-width: 130px;
  height: 170px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameList li:not(.selected):hover {
  border-width: 3px;
  border-color: #BAAE9A;
  border-style: dashed;
  cursor: pointer;
}

#roomList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#roomList li {
  height: 75px;
  padding: 10px;
  border-radius: 5px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

#roomList li:hover {
  border-width: 3px;
  border-color: #BAAE9A;
  border-style: dashed;
  cursor: pointer;
}

form:first-of-type {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  height: 25px;
  margin-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: #e8e1d5;
  border-style: solid;
}

button {
  font-weight: 600;
  height: 25px;
  background-color: #e8e1d5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  border-width: 0;
}

button:hover {
  background-color: #cdc2b2;
  cursor: pointer;
}

.TicTacToe {
  background-color: #F3CDDB;
}

.ObstacleRace {
  background-color: #C7DFEE;
}

.DanceBattle {
  background-color: #E3CBEA;
}

.MazeChase {
  background-color: #DFE8D6;
}

.CabooseCount {
  background-color: #F7D9C4;
}

.selected {
  font-weight: bold;
  border-width: 3px;
  border-color: #5f4724;
  border-style: dashed;
}

p {
  color: #766142;
  margin-top: 0;
}

li>div {
  font-weight: bold;
  background-color: #e8e1d5;
  width: 75px;
  height: 40px;
  position: absolute;
  padding: 5px;
  top: 50%;
  right: calc(0.5em + 5px);
  transform: translate(50%, -50%) rotate(-90deg);
  white-space: nowrap;

  text-align: center;
}

a{
  text-align: right;
}

#gameList li.placeholder, #roomList li.placeholder{
  min-width: 100%;
  border-style: dashed;
  border-color: #BAAE9A;
  cursor: default;
  grid-column: 1 / -1;
}

#gameList li.placeholder:hover{
  cursor: default;
}

@media screen and (max-width: 1400px) {
  body {
    padding: 0% 10% 0% 10% ;
  }

  #roomList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  body {
    padding: 0% 5% 0% 5% ;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 0% ;
  }

  #roomList {
    grid-template-columns: 1fr;
  }
}